body{
	background: linear-gradient(grey, black);
	background-repeat: no-repeat;
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	background-color: black;


}
h1 {
	margin: 0px;
	padding: 5px;
	color: white;
	background: #333;
}


.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: orange;
  color: white;
}

section {
	background: #333;
	margin: 0px;
	padding: 5px 10px 10px 10px;
	color: #dbdbdb;
}
footer {
	background: black;
	color:  orange;
	margin: 0px;
	padding: 5px 10px 10px 10px;

}

a {
	color: orange;
}

img {
	margin: 0px;
	padding: 0px;
	border: solid;
	border-color: black;
}
button {
	background: red;
	border-radius: 10px;
	
}
