body{
	background:#555;
	font-family: arial;
	margin: 10px;


}
h1{
	color: #eda232;
	padding: 15px;
	background: gray;
	margin: 10px 50% 10px 10px;
	border-radius: 5px;
}

p {
	padding: 15px;
	background: #777;
	margin: 5px;
	border-radius: 5px;

}
p a {
	color: #eda232;;
}
img {
	background: gray;
	padding: 20px;
	border-radius: 5px;
}

.row {
	clear:both;
}

.col {
	float: left;

	background: #666;
	margin: 1%;
	width: 31%;
	border-radius: 5px;

}
